body {
    margin: 0;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;

}

.banner-container {
    width: 100%;
    height: 100vh;
    background-image: url(images/flood.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}